.Box {
  width: 100%;
}

@media screen and (min-width: 360px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 414px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 390px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 393px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 412px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 820px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .Box {
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .Box {
    width: 100%;
  }
}
